<h1 class="font-weight-normal mt-3">
  <%= t('.header') %> "<%= @user_test.test.title %>" <%= t('caption.test').downcase %>.
</h1>

<% if @user_test.test.timer? %>
  <%= content_tag :small, '0:00', class: 'timer', data: { time: @user_test.time_left, id: @user_test.id } %>
<% end %>

<div class="progress">
  <%= content_tag :div, t('.question_counter', current_question: @user_test.current_question_number,
                  questions_count: @user_test.test.questions.count), class: 'progress-bar progress-bar-danger',
                  role: 'progressbar', data: { width: @user_test.percent_completed } %>
</div>
<div class="border rounded p-3 mt-3">
  <p>
    <b><%= @user_test.current_question.body %></b>
  </p>

  <%= form_with url: user_test_path(@user_test), local: true, method: :put do |form| %>
    <%= form.collection_check_boxes :answer_ids, @user_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
      <p>
        <%= b.check_box id: "answer_ids_#{b.object.id}" %>
        <%= b.label %>
      </p>
    <% end %>

    <p><%= link_to 'Gist', gist_user_test_path(@user_test), method: :post %></p>
    <p><%= form.submit t('.next'), class: "btn btn-outline-dark" %></p>
  <% end %>
</div>
