<%= form_with model: user, local: true do |form| %>
  <%= render 'shared/errors', resourse: user %>

  <p>
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :user_first_name %>
  </p>

  <p>
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :user_last_name %>
  </p>

  <p>
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password %>
  </p>

  <p>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </p>

  <p><%= form.submit %></p>
<% end %>
