<nav class="navbar">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>

  <span class="navbar-text">
    <% if user_signed_in? %>
      <%= t('admin.welcome') %>,<b><%= current_user.first_name %></b> |
      <%= link_to t('.admin_nav'), admin_tests_path if current_user&.admin? %> |
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to t('.signin'), new_user_session_path %> |
      <%= link_to t('.signup'), new_user_registration_path %>
    <% end %>
  </span>
</nav>
