<% if user_signed_in? %>
  <p class= "nav user">
    <%= t('admin.welcome') %>,<b><%= current_user.first_name %></b><br>
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </p>
<% else %>
  <p class= "nav user">
    <%= t('.unauthorized_user') %><br>
    <%= link_to t('.signin'), new_user_session_path %> |
    <%= link_to t('.signup'), new_user_registration_path %>
  </p>
<% end %>
