<p>
  <b><%= t('question') %>:</b>
  <%= @answer.question.body %>
</p>

<p>
  <b><%= t('answer') %>:</b>
  <%= @answer.body %>
</p>

<p>
  <b><%= t('correct_answer') %>:</b>
  <%= @answer.correct %>
</p>

<%= link_to t('admin.back_link'), admin_question_path(@answer.question) %>
