<p>
  <b><%= t('caption.question') %>:</b>
  <%= @question.body %>
</p>

<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>

<h2><%= t('caption.answers') %>:<h2>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('admin.edit_link'), edit_admin_question_path(@question) %> |
<%= link_to t('admin.back_link'), admin_test_path(@question.test) %>
