<h1><%= t('.header') %></h1>

<p>
  <%= link_to t('.new_test'), new_admin_test_path %>
</p>

<table>
  <tr>
    <th><%= t('.test_title') %></th>
    <th><%= t('.test_level') %></th>
    <th><%= t('.test_questions') %></th>
    <th colspan="3"><%= t('.test_actions') %></th>
  </tr>

  <%= render @tests %>
</table>
